<div class="book" id="book-<%= review.id %>">
  <h2>
    <a href="/users/<%= username %>/reviews/<%= review.id %>"
      ><%= review.book.title %></a
    >
  </h2>
  <p>
    <%= review.book.year %>
  </p>

  <p>
    <%= review.book.author %>
  </p>

  <p>
    Read: <%= new Date(review.date_read).toLocaleDateString() %>
  </p>

  <div class="image">
    <img src="<%= review.book.image_url %>" />
    <div class="review-container">
      <% review.review.split(".").filter((line)=> line.length > 0).forEach((line) => { %>
      <p class="review">
        <%= line %>
      </p>
      <% }) %>
    </div>
  </div>

  <div class="rating">
    <div class="rating-inner">
      <% if (review.rating >= 1) { %>
      <span class="star">⭐️</span>
      <% } %> <% if (review.rating >= 2) { %>
      <span class="star">⭐️</span>
      <% } %> <% if (review.rating >= 3) { %>
      <span class="star">⭐️</span>
      <% } %> <% if (review.rating >= 4) { %>
      <span class="star">⭐️</span>
      <% } %> <% if (review.rating >= 5) { %>
      <span class="star">⭐️</span>
      <% } %>
    </div>
  </div>

  <% if (logged_in) { %>
  <button class="edit-book" data-bookid="<%= review.id %>">
    edit
  </button>
  <form
    action="/delete-review/<%= review.id %>"
    method="POST"
    class="delete-button"
  >
    <button type="submit" class="delete-book">
      delete
    </button>
  </form>
  <% } %>

  <form
    action="/edit-review/<%= review.id %>"
    method="POST"
    class="hidden book-edit-form"
  >
    <button type="button" class="cancel-edit">
      Cancel
    </button>
    <p>
      <label for="review">Review</label><br />
      <textarea name="review"><%= review.review %></textarea>
    </p>
    <p>
      <label for="rating">Rating</label><br />
      <input type="radio" value="0" name="rating" <%= review.rating === 0 ? "checked" : "" %> /> 0 
      <input type="radio" value="1" name="rating" <%= review.rating === 1 ? "checked" : "" %> /> 1 
      <input type="radio" value="2" name="rating" <%= review.rating === 2 ? "checked" : "" %> /> 2 
      <input type="radio" value="3" name="rating" <%= review.rating === 3 ? "checked" : "" %> /> 3 
      <input type="radio" value="4" name="rating" <%= review.rating === 4 ? "checked" : "" %> /> 4 
      <input type="radio" value="5" name="rating" <%= review.rating === 5 ? "checked" : "" %> /> 5
    </p>

    <p>
      <label for="date_read">Date read</label><br />
      <input
        type="date"
        id="datePicker"
        name="date_read"
        value="<%= new Date(review.date_read).toISOString().substr(0, 10) %>"
      />
    </p>

    <button type="submit">
      Update
    </button>
  </form>
</div>
